@import "flex";
@import "margin";
@import "padding";
@import "gap.scss";
@import "border";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bluecolor{
  color: #2271b1;
}
