// LAYOUT STYLE
.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
}

.header {
  background: red;
  position: sticky;
  top: 0;
}
.container {
  flex: 5;
  background: antiquewhite;
  display: grid;

  grid-template-columns: 280px 1fr;
}

.sidebar {
  background-color: #fff;
  border-right: 1px solid #e1e3e5;
  position: sticky;
  top: 100px;
  padding-left: 24px;
  padding-right: 16px;
}
.content {
  background: #fff;
  overflow: auto;
}
